$c-white: #ffffff ;
$c-gold: #F8C251;
$c-dark-grey: #383838;

* {
  box-sizing: border-box;
}

body {
  background-color: $c-dark-grey ;
  font-family: 'Montserrat', sans-serif;
  color:$c-white;
  margin: 0;
}

.section__title {
  margin: 0;
  font-weight: 500;
  font-size: 40px;
  line-height: 49px;
  text-align: center;
  color: $c-gold;
  margin-bottom: 82px;
}

header {
  position: absolute;
  width: 100%;
  a {
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  .header--wrapper {
    max-width: 1920px;
    margin: 0 auto;
    padding: 35px 38px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ffffff;
  }

  .header__contacts {
    width: 100%;
    display: flex;
    max-width: 890px;
    justify-content: space-between;
    align-items: center;

    a {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: 500;
      font-size: 40px;
      line-height: 49px;
      color: $c-white;
      img {
        margin-right: 26px;
      }
    }
  }
}

section {
  padding: 88px 20px 0;

  .text-title {
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    margin: 0;
  }

  .blocks-box {
    display: flex;
    justify-content: space-between ;
    flex-wrap: wrap;
    &__item {
      box-shadow: 7px 7px 8px #2F2F2F,
      -7px -7px 8px #454545, -1px -1px 1px #414141;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      img {
        margin-bottom: 36px;
      }
    }
  }


  &.main-block {
    background-image: url("../img/vipBG.png");
    background-size: cover;
    background-position: right center;
    height: 100vh;
    max-height: 1080px;
    padding: 167px 52px;
  }

  h1 {
    font-weight: 300;
    font-size: 2.1rem;
    line-height: 44px;
    color: $c-white;
    width: 100%;
    max-width: 712px ;
    margin: 0;
  }

  &.access {
    max-width: 1391px;
    width: 100%;
    margin: 0 auto;
    .blocks-box__item {
      max-width: 599px;
      width: 100%;
      margin-bottom: 50px;
      min-height: 408px;
      padding: 40px 11px 24px;
      font-size: 18px;

      .text-default {
        max-width: 500px;
        margin: 20px auto 0;
      }
      .phone-ic {
        width: 100%;
        max-width: 99px;
        height: auto;
      }
      .mail-ic {
        width: 100%;
        max-width: 158px;
        height: auto;
      }
    }
  }

  &.vip-box {
    width: 100%;
    max-width: 1480px;
    margin: 0 auto;
    .text-default {
      text-align: center;
      width: 100%;
      margin: 0 auto 40px;
      max-width: 708px;
    }
  }

  &.other_privileges {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    .blocks-box {
      &__item{
        justify-content: end;
        max-width: 675px;
        min-height: 318px;
        padding: 37px 22px 20px;
		  &.box-item-row {
			display: initial;
			max-width: none;
			width: 100%;
			min-height: 223px;
			margin-bottom:50px;
			.text-default {
			  max-width: 824px;
			  margin-left: auto;
			  margin-right: auto;
			}
		  }
      }
    }
  }

  &.faq-block {
    max-width: 1479px;
    width: 100%;
    margin: 0 auto 146px;

    .faq-box {
      &__item {
        box-shadow: 7px 7px 8px #2F2F2F,
                    -7px -7px 8px #454545,
                    -1px -1px 1px #414141;
        margin-bottom: 30px;
        padding: 48px 52px 39px 78px ;
        position: relative;
        cursor: pointer;
        .text-title {
          padding-right: 55px ;
        }
        p{
          margin-bottom: 0;
        }

        .toggle-block {
          display: none;
          p{
            font-size: 18px;
          }
          ul {
            li {
              margin-bottom: 20px;
            }
          }
        }
        &:after {
          content: url("../img/arrow-gl.svg");
          display: block;
          position: absolute;
          right: 54px;
          top: 50px;
          transform: rotate(0);
          transition: 0.3s;
        }
        &.active:after {
          transform: rotate(180deg);
          transition: 0.3s;
        }
      }
    }
  }
}

footer {
  box-shadow: 7px 7px 8px #2F2F2F,
             -7px -7px 8px #454545,
             -1px -1px 1px #414141;
  p {
    margin: 0 ;
  }

  .footer--wrapper {
    width: 100%;
    max-width: 920px;
    margin: 0 auto;
    padding: 38px 20px 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .footer__item {
    max-width: 401px;
    width: 100%;
    &:nth-child(2) {
      max-width: 303px;
      width: 100%;
    }
    p {
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
      margin-bottom: 25px;
      &:last-child {
        margin-bottom: 0;
      }
      a {
        color: $c-gold;
      }
    }
  }
  .ruls{
    margin-top: 30px;
    width: 100%;
    text-align: center;
    color: $c-gold;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }
}

.gold-button {
  display: block;
  background-image: url("../img/gold-bg.png");
  background-size: 100%;
  background-repeat: no-repeat;
  text-align: center;
  padding: 14px 2px;
  margin-top: 30px;
  font-weight: 500;
  font-size: 20px;
  color: #333333;
}

.slider-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  img {
    width: 100%;
    max-width: 708px;
    height: auto;
    margin: 0 auto 14px;
  }
}

@media (min-width: 1600px) {
  section {
    &.main-block {
      min-height: 1080px;
    }
  }
}

@media (max-width: 1420px) {


  header {
    .header__contacts {
      max-width: 798px;
      transition: 0.3s;
    }
  }


  section{
    &.access {
      padding-bottom: 0;
    }
    &.other_privileges {
      .blocks-box__item {
        margin:0 auto 20px;
        justify-content: center;
      }
    }
  }
}

@media (max-width: 1280px) {
  header {
    .header--wrapper {
      padding: 18px 30px;
    }
    .header__contacts {
      max-width: 660px;
      a {
        font-size: 30px;
        transition: 0.3s;
      }
    }
  }

  section {
    h1 {
      font-size: 21px;
      line-height: 30px;
      max-width: 479px;
    }
    .section__title {
      margin-bottom: 30px!important;
    }
    &.main-block{
      padding: 137px 30px 20px;
      max-height: 780px;
    }
    &.access {
      padding-top: 51px;
      .blocks-box__item {
        margin: 0 auto 76px;
        min-height: 288px;
        &.box-item-row {
          max-width: 599px;
        }
      }
    }
    &.vip-box {
      .text-default {
        max-width: 708px;
      }
    }
    &.other_privileges {
      padding-top: 40px ;
    }
  }
}

@media (max-width: 1060px) {
  header {
    .header--wrapper {
      align-items: center;
    }
    .image-logo {
      max-width: 210px;
    }
    .header__contacts {
      max-width: 580px;
      a {
        font-size: 26px;
        img {
          margin-right: 10px;
        }
      }
    }
  }
  section{
    h1 {
      font-size: 21px;
      line-height: 30px;
      max-width: 370px;
    }
    &.main-block {
      max-height: 650px;
      background-position: 75%;
    }
    &.vip-box {
      padding-top: 0;
    }
    .text-title {
      font-size: 26px;
      line-height: 33px;
    }
  }
  .section__title {
    font-size: 30px;
  }
}

@media (max-width: 890px) {
  header {
    .header--wrapper {
      padding: 11px 20px;
      .header__contacts {
        max-width: 430px;
        a {
          font-size: 20px;
          img{
            max-width: 40px;
            max-height: 30px;
          }
        }
      }
    }
  }
  section{
    &.main-block {
      padding: 100px 30px 20px;
      max-height: 580px;
    }
  }
}

@media (max-width: 781px) {
  header {
    position: relative;
    .header--wrapper {
      border: none;
      .header__contacts {
        display: none;
      }
    }
    .image-logo {
      max-width: 134px;
    }
  }
  section{
    &.main-block{
      padding-top: 25px;
    }
    &.other_privileges {
      .blocks-box__item{
        min-height: 0;
      }
    }
    &.faq-block {
      padding: 38px 20px 0;
      .faq-box__item{
        padding: 40px 20px 49px;
        &:after {
          content: '';
          background-image: url('../img/arrow-gl.svg');
          background-repeat: no-repeat;
          background-size: 100%;
          top: auto;
          bottom: 11px;
          right: 0;
          left: 0;
          margin: 0 auto;
          width: 20px;
          height: 13px;
        }
      }
      .text-title {
        font-size: 18px;
        line-height: 22px;
      }
    }
  }
  footer {
    .footer__item {
      max-width: none;
    }
  }
}

@media (max-width: 700px) {
  section {
    .section__title {
      font-size: 20px;
      line-height: 24px;
      margin-right: auto;
      margin-left: auto;
    }
    &.main-block {
      padding: 20px 30px 20px;
      max-height: 380px;
    }
    &.access {
      .blocks-box__item {
        padding: 34px 11px 37px;
        min-height: inherit;
        img {
          margin-bottom: 11px;
        }
        .text-default {
          margin: 11px auto 0;
        }
        .mail-ic {
          max-width: 130px;
          height: auto;
        }
      }
    }
    &.vip-box {
      .section__title {
        max-width: 255px;
        width: 100%;
      }
    }
    &.faq-block {
      .faq-box__item {
        padding: 11px 20px 46px;
        .toggle-block p {
          font-size: 14px;
        }
      }
    }
  }
  footer {
    .footer--wrapper{
      padding: 11px 18px 26px;
    }
    .footer__item {
      p {
        font-size: 18px;
        line-height: 22px;
      }
      &:nth-child(2){
        order: 2;
      }
    }
    .ruls {
      order: 1;
      font-size: 14px;
      line-height: 17px;
    }
  }
}

@media (max-width: 680px) {
  section {
    &.main-block {
      margin-bottom: 150px;
      position: relative;

      h1 {
        font-size: 18px;
        text-align: center;
        position: absolute;
        margin: 0 auto;
        right: 0;
        left: 0;
        bottom: -140px;
      }
    }

    &.access {
      .blocks-box__item {
        font-size: 14px;
      }
    }

    &.other_privileges {
      .blocks-box__item {
        padding: 16px 22px 20px;
      }

      .text-title {
        font-size: 18px;
        line-height: 22px;
      }

      .text-default {
        font-size: 14px;
        margin-bottom: 0;
      }
    }
    &.faq-block {
      .faq-box__item {
        padding: 11px 20px 32px;
      }
    }
  }
}

@media (max-width: 600px) {
  .slider-on-mob {
    overflow: auto;
    margin: 0 -20px;

    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .slider-box {
    width: fit-content;
    flex-wrap: nowrap;
    img {
      display: none;
    }
    .img {
      width: 203px;
      height: 404px;
      background-position: center;
      background-size: cover;

      &:nth-child(1){background-image: url("../img/ua/instolment_mob_ua_1.png")}
      &:nth-child(2){background-image: url("../img/ua/instolment_mob_ua_2.png")}
      &:nth-child(3){background-image: url("../img/ua/instolment_mob_ua_3.png")}
      &:nth-child(4){background-image: url("../img/ua/instolment_mob_ua_4.png")}
    }
  }
}

@media (max-width: 470px) {
  section{
    &.main-block {
      padding: 20px 30px 20px;
      max-height: 300px;
    }
  }
}